<% provide(:title, "edit") %>
<h1><プロフィール編集></h1>
<div class="edit">
    <%= form_with(model: @user, local: true) do |x| %>
    <%= render 'shared/error_messages', object: x.object %>
    <div class="edit_name">
        <div>
            <%= x.label :名前 %>
        </div>
        <div>
            <%= x.text_field :name %>
        </div>    
    </div>
    <div class="edit_addres">
        <div>
            <%= x.label :メールアドレス %>
        </div>
        <div>
            <%= x.email_field :email %>
        </div>
    </div>
    <div class="edit_password">
        <div>
            <%= x.label :パスワード %>
        </div>
        <div>
            <%= x.password_field :password %>
        </div>
    </div>
    <div class="edit_password">
        <div>
            <%= x.label :パスワード（確認） %>
        </div>
        <div>
            <%= x.password_field :password_confirmation %>
        </div>
    </div>
    <div class="edit_image">
        <%= x.file_field :image %>
    </div>
    <div>
        <%= x.submit :変更 %>
    </div>
    <% end %>
</div>