<% provide(:title, "edit") %>
<h1>プロフィール編集</h1>
<div class="form">
    <%= form_with(model: @user, local: true) do |x| %>
    <%= render 'shared/error_messages', object: x.object %>
    <div>
        <%= x.label :名前 %>
        <%= x.text_field :name %>
    </div>
    <div>
        <%= x.label :メールアドレス %>
        <%= x.email_field :email %>
    </div>
    <div>
        <%= x.label :パスワード %>
        <%= x.password_field :password %>
    </div>
    <div>
        <%= x.label :パスワード（確認） %>
        <%= x.password_field :password_confirmation %>
    </div>
    <div>
        <%= x.file_field :image %>
    </div>
    <div>
        <%= x.submit :変更 %>
    </div>
    <% end %>
</div>