<% provide(:title, "signup") %>
<h1>< 新規ユーザー登録 ></h1>
<div class="form">
    <%= form_with(model: @user, local: true) do |x| %>  <%# model: @userは、URLを示している?。(usersモデルがあり、そこに対応するコントローラーで、＠userを定義づけ。)%>
    <%= render 'shared/error_messages', object: x.object %> 
    <div
        <%= x.label :名前 %>
        <%= x.text_field :name %>
    </div>
    <div>
        <%= x.label :メールアドレス %>
        <%= x.email_field :email %>
    </div>
    <div>
        <%= x.label :パスワード %>
        <%= x.password_field :password %>
    </div>
    <div>
        <%= x.label :パスワード確認 %>
        <%= x.password_field :password_confirmation %>
    </div>
    <div>
        <%= x.submit "登録" %>
    </div>
    <% end %>
</div>
