<%= provide(:title, @user.name)%>
<h1 class="top_profile">
    <%#= gravatar_for @user %> <%# アイコン画像は仮 => users.helperに記載%>
    <%#= image_tag user.image if user.image.attached? %>
    <li clss="name">
        <% if @user.image.blank? %>
            <%= image_tag 'kanban_jyunbi.png', size: "100x100" %>
        <% else %>
            <%= image_tag @user.image.to_s, accept: "image/jpeg, image/gif, image/png", size: '100x100'%>
        <%# #なぜ .to_sをすると画像が取り出せるのか。付けないとエラーになる。 %>
        <% end %>
    </li>
    <li class="name"><%= @user.name %></li>
    <li class="email"><%= @user.email %></li>
    <div class="edit">
        <% if current_user.id == @user.id %> <%# ログイン中のユーザーのみプロフィーりう編集画面が表示される　%>
            <%= link_to "プロフィール編集", edit_user_path(current_user) %>  <%# localhost:3000/users/1/edit%>
        <% end %>
    </div>
</h1>

<div>
    <% if @user.posts.any? %> 
        <div style="font-size: large">投稿（<%= @user.posts.count %> posts）</div>
        <%= will_paginate @posts %>
        <%= render @posts %>
        <%= will_paginate @posts %>
    <% end %>
</div>
