<div class="form">
    <%= form_with(model: @post, local: true, multipart: true, accept: "image") do |f| %>  <%# => データベースとやり取りする、@postを使えるようにするには、対応アクションで定義する。 %>
        <%= render 'shared/error_messages', object: f.object %>   <%# object: f.object => ここでは、@postに化ける。
                                                                エラーメッセージのパーシャルは使いまわしているので、@userや、@postがある。
                                                                object: f.objectと記述することで、そのページの( model: @~~~ )を読み込んでくれる。 %>
        <div class="form_title">
            <%= f.label :タイトル %>
            <%= f.text_field :title %>
        </div>
        <div class="form_content">
            <%= f.label :本文 %>
            <%= f.text_area :content %>
        </div>
        <div class="post_image">
            <%= f.label :画像%>
            <div class="image"><%= f.file_field :image %></div>
        </div>
        <%= f.fields_for :category, @post.build_category do |category|%><%# radioボタンは一つしかデータ送れない。モデルを多（category）にすると、エラーになる　%>
            <div>
                <div>記事にカテゴリーを付ける</div>
                <%= category.radio_button :name, :"障がい福祉" %>
                <%= category.label :"障がい福祉"%>
                <%= category.radio_button :name, :"高齢者福祉" %>
                <%= category.label :"高齢者福祉"%>
                <%= category.radio_button :name, :"児童福祉" %>
                <%= category.label :"児童福祉"%>
                <%= category.radio_button :name, :"その他" %>
                <%= category.label :"その他"%>
            </div>
        <% end %>
        
        
        
        <div>
            <%= f.submit %>
        </div>
    <% end %>
</div>

