<ul class="post">
    <div class="profile">
        <% if post.user.image.blank? %>
            <li class="icon"><%= image_tag 'kanban_jyunbi.png', size: "100x100" %></li>
        <% else %>
            <li class="icon"><%= image_tag post.user.image.to_s, accept: "image/jpeg, image/gif, image/png", size: "100x100" %></li>  <%# #なぜ .to_sをすると画像が取り出せるのか。付けないとエラーになる。 %>
        <% end %>
        <li class="name"><%= link_to post.user.name, post.user %></li>
        <li class="email"><%= link_to post.user.email, post.user%></li>
    </div>
    <% if !post.title.blank? %>
        <li class="title"><%= post.title %></li>
    <% end %>
    <li class="image"><%= image_tag post.image, accept: "image/jpeg, image/gif, image/png", size: '300x300'  if post.image.attached? %></li>
    <li class="content"><%= post.content %></li>
    <li class="category"><%= post.category.name if post.category %></li>
    <li class="my_category"><%= post.my_category.name if post.my_category %></li>
    <li id="favorite_button<%= post.id %>" class="favorite_btn">
        <%= render partial: "favorites/favorite", locals: { post: post } %> <%# partial: は無いとエラーになる　%>
    </li>
    <% if current_user?(post.user) %>
        <li><%= link_to "（投稿を削除する）", post , method: :delete, data: { confilm: "本当に削除しますか？" } %></li>
    <% end %>
    <%# byebug %>
</ul>

<%# ↓コピペ %>
<%# <script type="text/javascript">
    $("#micropost_image").bind("change", function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
        alert("Maximum file size is 5MB. Please choose a smaller file.");
        $("#micropost_image").val("");
    }
    });
</script> %>

