<!DOCTYPE html>
<html>
  <head>
    <%# ↓full_titleメソッド => cf)application_helper  %>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container text-center">
      <% flash.each do |message_type, message| %> <%# flash変数(users_controllerで定義)は、ハッシュを持つ。
                                                  railsコンソールで、flash変数の中身に代入して、確認してみる。 %>
        <div class="flash"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.devlopment? %>  <!-- デバッグ　-->
    </div>
  </body>
</html>
