<!DOCTYPE html>
<html>
  <head>
    <title>福祉.net | <%= yield(:title)%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div >
        <nav>
          <ul>
            <li><%= link_to "my_page", "#" %></li>
            <li><%= link_to "post", "#" %></li>
            <li><%= link_to "about", "#" %></li>
            <li></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container text-center">
      <%= yield %>
    </div>
  </body>
</html>
